In [1]:
# убираем предупреждения
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

<hr style='margin-top:31px; border: 2px solid #43091A'>
<div style='text-align: center ; font-size: 25px; color:#43091A'>продажи</div>

 ### столбцы
 date - Документ продажи.Дата
 
 check - Документ продажи.Номер чека ККМ
 
 nom - Номенклатура.Наименование
 
 group - Группа.Наименование
 
 ps - Магазин.Наименование
 
 town - Магазин.Контактная информация.Город
 
 num_goods - Количество товаров
 
 price - Сумма продаж со скидкой без НДС
 
 disc - Сумма продаж со скидкой

In [2]:
# data
sales = pd.read_csv('file/sales.csv', skiprows=1, header=None)
sales = sales.drop([0], axis=1)
sales.columns =  ['date', 'check', 'nom', 'group', 'ps', 'town', 'num_goods', 'price', 'disc']

In [3]:
# преобразовывает в строку 
sales.nom = sales['nom'].astype(str)
sales.ps = sales['ps'].astype(str)

sales.head()

,date,check,nom,group,ps,town,num_goods,price,disc
0,01.01.2021 0:26:25,207546.0,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,АЗС №2 г.Керчь,NaN,1,33.33,40.0
1,01.01.2021 0:26:25,207546.0,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,АЗС №2 г.Керчь,Керчь г,1,33.33,40.0
2,01.01.2021 0:26:25,207546.0,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,АЗС №2 г.Керчь,NaN,1,50.00,60.0
3,01.01.2021 0:26:25,207546.0,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,АЗС №2 г.Керчь,Керчь г,1,50.00,60.0
4,01.01.2021 0:28:27,207548.0,Fhilip Morris Compakt Яркий,ТАБАЧНАЯ ПРОДУКЦИЯ,АЗС №2 г.Керчь,NaN,1,95.83,115.0

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20444 entries, 0 to 20443
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       20444 non-null  object
 1   check      20426 non-null  float64
 2   nom        20444 non-null  object
 3   group      20443 non-null  object
 4   ps         20444 non-null  object
 5   town       11965 non-null  object
 6   num_goods  20444 non-null  int64
 7   price      20428 non-null  float64
 8   disc       20428 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 1.4+ MB

In [5]:
# Столбец 'date' преобразовываем в тип данных datetime.date, также убираем оттуда время 
sales['date'] = pd.to_datetime(sales['date'], errors='coerce').dt.date
sales.head()

,date,check,nom,group,ps,town,num_goods,price,disc
0,2021-01-01,207546.0,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,АЗС №2 г.Керчь,NaN,1,33.33,40.0
1,2021-01-01,207546.0,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,АЗС №2 г.Керчь,Керчь г,1,33.33,40.0
2,2021-01-01,207546.0,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,АЗС №2 г.Керчь,NaN,1,50.00,60.0
3,2021-01-01,207546.0,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,АЗС №2 г.Керчь,Керчь г,1,50.00,60.0
4,2021-01-01,207548.0,Fhilip Morris Compakt Яркий,ТАБАЧНАЯ ПРОДУКЦИЯ,АЗС №2 г.Керчь,NaN,1,95.83,115.0

In [6]:
# Удаляем дубликаты – в столбце 'town' значение NaN 
sales = sales.dropna(subset=['town'])

sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11965 entries, 1 to 20442
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       11965 non-null  object
 1   check      11955 non-null  float64
 2   nom        11965 non-null  object
 3   group      11965 non-null  object
 4   ps         11965 non-null  object
 5   town       11965 non-null  object
 6   num_goods  11965 non-null  int64
 7   price      11956 non-null  float64
 8   disc       11956 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 934.8+ KB

In [7]:
# Заменяем NaN нолями в столбцах 'price', 'disc'
sales = sales.fillna({'price': 0.0, 'disc': 0.0})

# Пустые значения столбца 'check' заполняем строкой 'NaN', так же переводим Все значения столбца в str
sales['check'] = sales['check'].fillna('NaN')
sales['check'] = sales['check'].astype(str)

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11965 entries, 1 to 20442
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       11965 non-null  object
 1   check      11965 non-null  object
 2   nom        11965 non-null  object
 3   group      11965 non-null  object
 4   ps         11965 non-null  object
 5   town       11965 non-null  object
 6   num_goods  11965 non-null  int64
 7   price      11965 non-null  float64
 8   disc       11965 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 934.8+ KB

#### СГРУППИРУЕМ НАШ ДАТАФРЕЙМ ПО ДАТЕ, НОМЕНКЛАТУРЕ И АЗС, СУММИРУЯ ЧИСЛОВЫЕ ЗНАЧЕНИЯ

In [9]:
sales_gr = sales.groupby(['date', 'nom', 'ps', 'town']).sum().reset_index()
sales_gr.head()

,date,nom,ps,town,num_goods,price,disc
0,2021-01-01,21 век dark blue MT,АЗС №2 г.Керчь,Керчь г,1,100.00,120.0
1,2021-01-01,Bond Compact Blue,АЗС №2 г.Керчь,Керчь г,1,105.83,127.0
2,2021-01-01,Bond Compact Ароматный,АЗС №2 г.Керчь,Керчь г,1,101.67,122.0
3,2021-01-01,Bond TROPIC MIX,АЗС №2 г.Керчь,Керчь г,1,90.83,109.0
4,2021-01-01,Camel Compact MT,АЗС №2 г.Керчь,Керчь г,1,87.50,105.0

<hr style='margin-top:31px; border: 2px solid #43091A'>
<div style='text-align: center ; font-size: 25px; color:#43091A'>наценки</div>

### столбцы
ps - Магазин

group - Номенклатура, Группа

num - Количество, шт

pсh - Закупочная сумма

retail - Розничная сумма

margin - Сумма наценки

% - Процент наценки

%_m - Процент маржи

In [10]:
# data
margin = pd.read_csv('file/margin.csv',skiprows=1, header=None)
margin = margin.drop([0], axis=1)
margin.columns = ['ps','group','num', 'pch', 'retail', 'margin','%', '%_m']

margin.head()

,ps,group,num,pch,retail,margin,%,%_m
0,АЗС № 1 Героев Сталинграда 8А,Coffee Let's Be в банках 240 мл Cofetime Latte...,7,270.97,455.0,184.03,67.92,40.45
1,АЗС № 1 Героев Сталинграда 8А,"FELIX CARBOX Антифриз, кан. 1кг., NON FOOD",3,390.00,525.0,135.00,34.62,25.71
2,АЗС № 1 Героев Сталинграда 8А,"FELIX CARBOX Антифриз, кан. 5кг., NON FOOD",1,545.00,750.0,205.00,37.61,27.33
3,АЗС № 1 Героев Сталинграда 8А,"FELIX PROLONGER Антифриз, кан. 1кг., NON FOOD",4,500.00,640.0,140.00,28.00,21.88
4,АЗС № 1 Героев Сталинграда 8А,"FELIX Тосол -45, кан. 1кг., NON FOOD",3,231.00,330.0,99.00,42.86,30.00

In [11]:
margin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ps      938 non-null    object
 1   group   937 non-null    object
 2   num     938 non-null    int64
 3   pch     938 non-null    float64
 4   retail  938 non-null    float64
 5   margin  936 non-null    float64
 6   %       936 non-null    float64
 7   %_m     936 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 58.8+ KB

In [12]:
# не заполнено столбец group – итоговое строка 
margin.loc[pd.isnull(margin.group), :]

        ps group    num         pch      retail     margin      %    %_m
937  Итого   NaN  14346  1054416.39  1379385.78  324969.39  30.82  23.56

In [13]:
# Удаляем её 
margin = margin.iloc[:-1,:]
margin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ps      937 non-null    object
 1   group   937 non-null    object
 2   num     937 non-null    int64
 3   pch     937 non-null    float64
 4   retail  937 non-null    float64
 5   margin  935 non-null    float64
 6   %       935 non-null    float64
 7   %_m     935 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 58.7+ KB

In [14]:
# Заполнем значения NaN нолями, столбцах margin, % и %_m
margin.fillna(0.0, inplace=True)

In [15]:
margin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ps      937 non-null    object
 1   group   937 non-null    object
 2   num     937 non-null    int64
 3   pch     937 non-null    float64
 4   retail  937 non-null    float64
 5   margin  937 non-null    float64
 6   %       937 non-null    float64
 7   %_m     937 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 58.7+ KB

#### РАЗБИВАЕМ СТОЛБЕЦ group НА nom и group

In [16]:
margin['nom'], margin['group'] = margin['group'].str.rsplit(', ', 1).str

In [17]:
margin.head(3)

,ps,group,num,pch,retail,margin,%,%_m,nom
0,АЗС № 1 Героев Сталинграда 8А,БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,7,270.97,455.0,184.03,67.92,40.45,Coffee Let's Be в банках 240 мл Cofetime Latte
1,АЗС № 1 Героев Сталинграда 8А,NON FOOD,3,390.00,525.0,135.00,34.62,25.71,"FELIX CARBOX Антифриз, кан. 1кг."
2,АЗС № 1 Героев Сталинграда 8А,NON FOOD,1,545.00,750.0,205.00,37.61,27.33,"FELIX CARBOX Антифриз, кан. 5кг."

In [18]:
margin ['month'] = pd.to_datetime('2021-01-31')

margin.head(3)

,ps,group,num,pch,retail,margin,%,%_m,nom,month
0,АЗС № 1 Героев Сталинграда 8А,БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,7,270.97,455.0,184.03,67.92,40.45,Coffee Let's Be в банках 240 мл Cofetime Latte,2021-01-31
1,АЗС № 1 Героев Сталинграда 8А,NON FOOD,3,390.00,525.0,135.00,34.62,25.71,"FELIX CARBOX Антифриз, кан. 1кг.",2021-01-31
2,АЗС № 1 Героев Сталинграда 8А,NON FOOD,1,545.00,750.0,205.00,37.61,27.33,"FELIX CARBOX Антифриз, кан. 5кг.",2021-01-31

In [19]:
margin.nom = margin['nom'].astype(str)
margin.ps = margin['ps'].astype(str)

#### ДОБАВИМ СТОЛБЕЦ С ЦЕНОЙ ЗАКУПА ТОВАРА (pch / num)

In [20]:
margin['pch_per_num'] = margin['pch']/ margin['num']

margin.head()

,ps,group,num,pch,retail,margin,%,%_m,nom,month,pch_per_num
0,АЗС № 1 Героев Сталинграда 8А,БЕЗАЛКОГОЛЬНЫЕ НАПИТКИ,7,270.97,455.0,184.03,67.92,40.45,Coffee Let's Be в банках 240 мл Cofetime Latte,2021-01-31,38.71
1,АЗС № 1 Героев Сталинграда 8А,NON FOOD,3,390.00,525.0,135.00,34.62,25.71,"FELIX CARBOX Антифриз, кан. 1кг.",2021-01-31,130.00
2,АЗС № 1 Героев Сталинграда 8А,NON FOOD,1,545.00,750.0,205.00,37.61,27.33,"FELIX CARBOX Антифриз, кан. 5кг.",2021-01-31,545.00
3,АЗС № 1 Героев Сталинграда 8А,NON FOOD,4,500.00,640.0,140.00,28.00,21.88,"FELIX PROLONGER Антифриз, кан. 1кг.",2021-01-31,125.00
4,АЗС № 1 Героев Сталинграда 8А,NON FOOD,3,231.00,330.0,99.00,42.86,30.00,"FELIX Тосол -45, кан. 1кг.",2021-01-31,77.00

In [21]:
margin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ps           937 non-null    object
 1   group        937 non-null    object
 2   num          937 non-null    int64
 3   pch          937 non-null    float64
 4   retail       937 non-null    float64
 5   margin       937 non-null    float64
 6   %            937 non-null    float64
 7   %_m          937 non-null    float64
 8   nom          937 non-null    object
 9   month        937 non-null    datetime64[ns]
 10  pch_per_num  937 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 80.6+ KB

<hr style='margin-top:31px; border: 2px solid #43091A'>

<div style='margin: 35px; text-align: center; color:#43091A'>Объединяем две таблицы </div>

In [22]:
join = sales_gr.merge(margin[['ps', 'nom', 'pch_per_num', '%_m']], 
                      how = 'left', left_on=['nom', 'ps'], right_on=['nom', 'ps'])

In [23]:
# удалим стаканы по причине ...
join = join[join.nom != 'Стакан МУСТАНГ 250 мл']

In [24]:
# Знакомимся со значениями вафель в другой АЗС
join[(margin.ps >= 'АЗС №2 г.Керчь') & (join.nom == 'Вафли Зебра мол. Шоколад 40 гр') ]

,date,nom,ps,town,num_goods,price,disc,pch_per_num,%_m
455,2021-01-14,Вафли Зебра мол. Шоколад 40 гр,АЗС № 1 Героев Сталинграда 8А,Симферополь г,1,25.00,30.0,NaN,NaN
456,2021-01-14,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,1,16.67,20.0,12.6,37.0
661,2021-01-15,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,7,116.67,140.0,12.6,37.0
859,2021-01-16,Вафли Зебра мол. Шоколад 40 гр,АЗС № 1 Героев Сталинграда 8А,Симферополь г,1,25.00,30.0,NaN,NaN
860,2021-01-16,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,4,66.67,80.0,12.6,37.0

In [25]:
# У вафель значение NaN заменяем на значения вафель из другой АЗС
join = join[join['nom'] == 'Вафли Зебра мол. Шоколад 40 гр'].fillna({'pch_per_num': 12.6, '%_m': 37.0})

In [26]:
join.head()

,date,nom,ps,town,num_goods,price,disc,pch_per_num,%_m
455,2021-01-14,Вафли Зебра мол. Шоколад 40 гр,АЗС № 1 Героев Сталинграда 8А,Симферополь г,1,25.00,30.0,12.6,37.0
456,2021-01-14,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,1,16.67,20.0,12.6,37.0
661,2021-01-15,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,7,116.67,140.0,12.6,37.0
859,2021-01-16,Вафли Зебра мол. Шоколад 40 гр,АЗС № 1 Героев Сталинграда 8А,Симферополь г,1,25.00,30.0,12.6,37.0
860,2021-01-16,Вафли Зебра мол. Шоколад 40 гр,АЗС №2 г.Керчь,Керчь г,4,66.67,80.0,12.6,37.0